#button{
    margin-left: 1em;
}

ion-grid{
    position: relative;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: scroll;
}
ion-img{
    object-fit: cover;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.lightbox{
    display: flex;
    align-items: center;
    justify-content: center;
    left:50%;
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-img{
    margin: auto;
    left:50%;
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

ion-slides{
    margin: auto;
    left:50%;
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

  
.default { 
    transition: .2s ease-in-out all;
    visibility:hidden; opacity:0}
  
.change {
    visibility:visible; opacity:1}
button{
position:absolute;
top:0;
 align-self: center;
 background-color: #707070;
  color: white;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}

  