<ion-header  [translucent]="true" *ngIf="!showMask">
  <ion-toolbar>
    <ion-button id = "button" (click)="menu()" >Vissza</ion-button>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row scrollY="true">
  <ion-col size="6" *ngFor="let item of items; let i=index">
    <ion-img id="img" (click)="onPreviewImage(i)" [src]="item.image"></ion-img>
  </ion-col>
  </ion-row>
</ion-grid>

 <div [ngClass]="[style]" (click) = "style = 'default';"  class="lightbox" tabindex="0">
  <div class="lightbox-img" >
    <ion-slides [options]="slideOpts" #slider >
      <ion-slide *ngFor="let item of items; let i=index">
        <img  [src]="item.image">
      </ion-slide>
    </ion-slides>
    
</div>

</div> 







