<ion-header  [translucent]="true" *ngIf="!showMask">
  <ion-toolbar>
    <ion-button id = "button" (click)="menu()" >Vissza</ion-button>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row scrollY="true">
  <ion-col size="6" *ngFor="let item of items; let i=index">
    <ion-img id="img" (click)="onPreviewImage(i)" [src]="item.webviewPath"></ion-img>
  </ion-col>
  </ion-row>
</ion-grid>

 <div [ngClass]="[style]" (swipedown) = "style = 'default'; showMask= false"   class="lightbox" tabindex="0">
  <div class="lightbox-img" >
    <ion-slides [options]="slideOpts" #slider zoom >
      <ion-slide *ngFor="let item of items; let i=index">
        <button id = "button" (click)="del(item, i)" ><ion-icon name="trash-outline"></ion-icon></button>
        <img  [src]="item.webviewPath" imageViewer>
      </ion-slide>
    </ion-slides>
    
</div>

</div> 







